.Contenedor .Redes-Sociales{margin-top:30px;margin-right:0;margin-bottom:20px;margin-left:0;width:50%}
.Contenedor .Redes-Sociales p{width:20%;height:20%;margin-left:2%;margin-top:0;margin-bottom:0;margin-right:2%}
#blog .Contenedor-Blog .Contenedor-Entrada{width:48%;margin-top:0;margin-right:0;margin-bottom:30px;margin-left:10px}
#blog .Contenedor-Blog .movil1200{width:100%}
.container-fluid #clothingnav1 .celular{width:33%}
.container-fluid #clothingnav1 .celular1{width:60%}
#clothingnavcontent1 #paneTwo4 .Contenedor-Sena,#contacto .Contenedor-Contacto .Contenedor-Formulario,#nosotros .Contenedor-Nosotros .Nosotros-Mision{width:100%}
.Footer-Redes .Contenedor-Pie .Elementos-pie{width:50%;margin-top:0;margin-right:0;margin-bottom:0;margin-left:0}
.Elementos-pie .redes p{margin-top:0;margin-right:0;margin-bottom:0;margin-left:40%}
.Elementos-pie .redes p>a>svg.icon{margin-left:0;margin-top:0;margin-right:0;margin-bottom:0}
.Contenedor-Pie .Elementos-pie img{margin-left:0;margin-top:0;margin-right:0;margin-bottom:0;width:58% %;width:56%;position:relative;left:25%}
.Contenedor-Pie .Elementos-pie .bandera{margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;position:static}
.Contenedor-Pie .Elementos-pie p.gracias{font-size:18.55px;margin-left:0}